<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=«UTF-8»>
    <title>Kalyani‘s Resume</title>
    <link rel = "stylesheet" type = "text/css" href ="{{url_for('static', filename = 'main.css')}}">
    <script src="/static/javascript/javascript.js">
</head>

<img src = "/static/images/discount.jpg" height = "200"/>
<body>
    <h1 class = "styled">
        Kalyani’s Resume
    </h1>
    This page will contain my resume
    <br>
    <br>
    <p id=«para»> </p>
    <button id="button" type="button" onclick="myFunction()"> Click to see Resume </button>
</body>
</html>