<!DOCTYPE html>
<html>
<head>
    <title>Discounts</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="container">
        <h1>Скидки</h1>
        {% for promotion in promotions %}
            <div class="discount">
                <h2>{{ promotion.title }}</h2>
                <a href="{{ promotion.link}}" target="_blank"><img src="{{ promotion.img_link }}" alt="{{ promotion.title }}"></a>
                <div class="price">
                    <span class="full-price">{{ promotion.full_price }} руб.</span>
                    <span class="discount-price">{{ promotion.discount_price }} руб.</span>
                    <span class="discount-percent">{{ promotion.discount }}% скидка</span>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>